/* NOSOTROS*/
$colorred: red;
$backgroundprincipal: #191919;
$colorwhite: white;
$color-p: #fcfc;
$color-boton: #0084ff;
$hover-boton: #0084ffab;
$widthtext: 550px;
$widthmain: 1130px;

/* SERVICIOS */
$color-text-principal: #3498db;
$hover: rgba(221, 221, 221, 0.514);
$rgbanegro: rgba(0, 0, 0, 0.685); 
$rgbnegro: rgb(0, 0, 0);

/* PRODUCTOS */
$width100: 100%;
$height350: 350px;
$colorf7: #f7f7f7;
$colorazul: #0084ff;

/* CONTACTO */
$color: #0c85d677;
$colorbackground: #252525;
$shadow-box: rgba(0,0,0,0.5);

/* FOOTER */
$backgroundcolor: #0a141d;
$colorclaro: #efefef;
$coloraqua: aqua;
$coloroscuro: #0a1a2a;
$coloroscuro2: #0d2033;

/* INICIO */
$colorazulclaro: #0084ff;
$colorazulclar2: rgb(0, 132, 255);
$coloroscuro: #0074e060;
$colorfff: #fff;
$widthresosulucion: 1440px;
$heighthresosulucion: 790px;

/* NAVBAR */
$colornavbar: #0c85d65d;
$colornavbarHOVER: #0c85d65d;
$colornavbarwhite: #fff;
$colorhover: #0c85d641;

/* OPERACIONES */
$vista: tablet;
$vista: mobile;