.footer{
    background-color: $backgroundcolor;
  }
  .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

    .box figure{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
  }
  .box figure img{
    width: 250px;
  }
  .box h2{
    color: $colornavbarwhite;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .box p{
    color: $colorclaro;
    margin-bottom: 10px;
  }

  .redsocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $colornavbarwhite;
    margin-right: 10px;
    background-color: $coloroscuro2;
    text-align: center;
    transition: all 300ms ease;
  } 
  &:hover{
    transition: 0.75s;
    color: $coloraqua;
  }
}
.grupo-2{
  background-color: $coloroscuro ;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: $colornavbarwhite;

.grupo-2 small{
    font-size: 15px;
    text-align: center;
  }
}

.aquacolor{
  color: $colorwhite;

  &:hover{
    transition: 0.75s;
    color: $coloraqua;
  }
}

  
