.section1{
  background: url("../img/tiendaderopa.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: $widthresosulucion;
  height: $heighthresosulucion;
}

.bienvenida {
  text-align: center;
  padding: 250px;
  font-weight: 10;
  font-size: 30px;

  .text1 {
    color: $colorfff;
    font-weight: 01;
  }
  .text2 {
    color: $colorfff;
    font-weight: 01;
    padding-bottom: 5px;
    margin: 0px;
  }
}

.azultext3 {
  display: inline-block;
  color: $colorazulclaro;
  padding: 10px 0.9em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $coloroscuro;
  border-radius: 50px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  .azultext2 {
    color: $colorazulclaro;
    text-decoration: bold;
    font-weight: 10;
  }
}



/*-------- RESPONSIVE --------*/


@if $vista == tablet {
  @media screen and (max-width: 768px){

.section1{
  background-repeat: no-repeat;
  background-size: cover;
  width: 768px;
  height: 724px;
  text-decoration: none;
    }
  }
}


/* BARRA LATERAL */
::-webkit-scrollbar {
  display: none;
}


@if $vista == mobile {
  @media screen and (max-width: 320px){

  .section1{
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 724px;
    text-decoration: none;
    .losted {
      width: 180px;
    }
  }

  }
}
 
/*-------- RESPONSIVE --------*/