$colornavbar: #0c85d65d;
$colornavbarHOVER: #0c85d65d;
$colornavbarwhite: #fff;
$colorhover: #0c85d641; 

/*-------- HEADER --------*/

nav{
  background: $colornavbar;
  height: 80px;
  width: 100%;
}

ul li a{
  color: $colornavbarwhite;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

ul{
  float: right;
  margin-right: 20px;
}

ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

li a:hover{
  background: $colorhover;
  color: $colornavbarwhite;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: $colornavbarwhite;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/*-------- RESPONSIVE --------*/

$vista: tablet;
$vista: mobile; 

@if $vista == tablet {
  @media only screen and (max-width: 768px){
  .enlace{
      padding-left: 20px;
      nav ul li a{
        font-size: 16px;
    }
  }}
}

@if $vista == tablet {
  @media only screen and (max-width: 768px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: #2c3e50;
  }
  #check:checked ~ ul{
      left: 0;
  }
}
}


@media (max-width: 320px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 320px;
      height: 100%;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: #2c3e50;
  }
  #check:checked ~ ul{
      left: 0;
  }
}
