  #galeria {
    background-color: $backgroundprincipal;
    color: $colorwhite;
    padding-bottom: 7%;
    .col-lg-4 {
      margin: 0 !important;
      padding: 25px;
    }
}

#galeria img {
  width: $width100;
  height: $height350;

  &:hover {
    border: 5px solid $colorf7;
  }
}
  
  .productosh1 {
    color: $colorazul;
    text-decoration: underline;
  }
  .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
  }